/* 
SVG backgrounds from svgbackgrounds.com
Images have all come from pexels.com or pixabay.com - None of them required a link back.  
*/
/* 
=============================================================================================
Global Styles
=============================================================================================
*/
footer {
  background-color: #0d0164;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.74'%3E%3Cpolygon fill='%23010a83' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23012ba2' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%230158c1' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230090e0' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2300d5ff' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }
  
  blockquote .lead {
    font-size: 1.5rem !important; }
  
  body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23f0f0f0' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23f2f2f2'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    overflow-x: hidden !important; }
  
    .container-fluid {
      padding-right: 0;padding-left: 0;
    }
  /* 
  =============================================================================================
  Font & Text
  =============================================================================================
  */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic; }
  
  h1 {
    word-wrap: break-word;
    font-size: 3rem !important;
    text-shadow: 0.1rem 0.1rem #adadad78; }
  
  h2 {
    color: #0d0164;
    text-shadow: 0.1rem 0.1rem #ffffffb4; }
  
  h3 {
    /* color: $color-dark-primary; */
    text-shadow: 0.1rem 0.1rem #7979796b; }
  
  body,
  p,
  a {
    font-family: "Chivo", sans-serif;
    font-weight: 300; }
  
  p {
    font-size: 1.15rem; }
  
  .blueText {
    color: #00d5ff;
    font-weight: bolder; }
  
  .orangeText {
    color: #ffbb00;
    font-weight: bolder; }
  
  .fas {
    color: #0d0164; }
  
  .bi {
    color: #00d5ff; }
  
  .blackOverlay {
    background: rgba(0, 0, 0, 0.404);
    background-blend-mode: overlay;
    border-radius: 25px; }
  
  .whiteOverlay {
    background: rgba(255, 255, 255, 0.109);
    background-blend-mode: overlay;
    margin-left: 2%; }

    .blueOverlay {
      background: #0d0164;
      background-blend-mode: overlay;
      border-radius: 25px; }
  
  /* 
  =============================================================================================
  Nav
  =============================================================================================
  */
  
  
  /* 
  =============================================================================================
  Buttons
  =============================================================================================
  */
  .btn-primary {
    background-color: #0d0164 !important;
    border: #0d0164 !important; }
  
  .btn-primary:hover {
    background-color: #ffbb00 !important;
    border: #cf9902 !important; }

    .btn-warning {
      background-color: #ffbb00 !important;
      color: black;
      font-weight: 700; }
    
    .btn-warning:hover {
      background-color: #cf9902 !important;
      color: whitesmoke;
      transform: scale(1.1);
      transition: cubic-bezier(1.075, 1.82, 1.165, 1); }

  .bigBlueIcon {
    font-size: 7rem;
    color: #00d5ff; }
  
  .bigBlueIcon:hover {
    transform: scale(1.1);
    transition: cubic-bezier(1.075, 1.82, 1.165, 1);
    color: #ffbb00;
    font-size: 7.5rem; }
  
  .bigOrangeIcon {
    font-size: 5rem;
    color: #ffbb00; }
  
  .bigOrangeIcon:hover {
    transform: scale(1.1);
    transition: cubic-bezier(1.075, 1.82, 1.165, 1);
    color: #00d5ff;
    font-size: 5.5rem; }
  
  .fa-footer {
    color: white !important;
    font-size: 1.8rem; }
  
  .fa-footer:hover {
    transform: scale(1.1);
    transition: cubic-bezier(1.075, 1.82, 1.165, 1);
    color: #ffbb00 !important;
    font-size: 2rem; }
  
  .headerBg {
    min-height: 100vh !important; }
  
  .card {
    margin-bottom: 4rem; }
  
  .jumbotron {
    border-radius: 0; }
  
 
  
  /* 
  =============================================================================================
  Images all came from pexels.com or pixabay.com
  =============================================================================================
  */
  .headerBg {
    background-image: url('../img/headerBg.jpg');
    background-attachment: fixed;
    background-size: cover; 
    background-color: #0d0164;
  }
  
  .jumbotronBg {
    background: url("../img/jumbotronBg.jpg");
    background-attachment: fixed;
    background-size: cover; 
     }
  
     .skyDiveBg {
      background: url("../img/skyDiveBg.jpg");
      background-attachment: fixed;
      background-size: cover;
      color: white; 
      background-color: #0d0164; }
  
  .midBg {
    background: url("../img/midBg.jpg");
    background-attachment: fixed;
    background-size: cover; }
  
  .lowBg {
    background: url("../img/lowBg.jpg");
    background-attachment: fixed;
    background-size: cover; }
  
  .contactBg {
    background: url("../img/contactBg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-color: #0d0164; }

  .clientOne {
    background: url("../img/client1.png");
    background-attachment: fixed;
    background-size: cover;
  }

  .dashBg{
    background-image: url('../img/dashBg.jpg');
    background-attachment: fixed;
    background-size: cover; 
    background-color: #0d0164;
    height: 50vh;
    z-index: -1;
  }

  .motiBg{
    background-image: url('../img/motiBg.jpg');
    background-attachment: fixed;
    background-size: cover; 
    background-color: #0d0164;
    height: 50vh;
    z-index: -1;
  }

  .goalBg{
    background-image: url('../img/goalBg.jpg');
    background-attachment: fixed;
    background-size: cover; 
    background-color: #0d0164;
    height: 50vh;
    z-index: -1;
  }

  .commBg{
    background-image: url('../img/commBg.jpg');
    background-attachment: fixed;
    background-size: cover; 
    background-color: #0d0164;
    height: 50vh;
    z-index: -1;
  }

  .prodBg{
    background-image: url('../img/prodBg.jpg');
    background-attachment: fixed;
    background-size: cover; 
    background-color: #0d0164;
    height: 50vh;
    z-index: -1;
  }
  
  .img-rounded {
    border-radius: 5%; }
  
  .headerPadding {
    padding: 3rem 0 0 0; }
  
  #sticky-footer {
    flex: 1 0 auto;
    flex-shrink: none; }
  
  .row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }
  
  .col-form-label {
    font-size: 1.2rem;
    font-weight: 900; }
  
  .form-check-input {
    height: 1.1rem;
    width: 1.1rem; }
  
  .modal-header {
    background-color: #00d5ff; }
  
  .sidebar{
    background-color: #0d0164;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.74'%3E%3Cpolygon fill='%23010a83' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23012ba2' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%230158c1' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230090e0' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2300d5ff' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  }