.btn-primary {
    background-color: #0d0164;
    border: #0d0164; }
  
  .btn-primary:hover {
    background-color: #ffbb00;
    border: #cf9902; }
  
  .btn-warning {
    background-color: #ffbb00 !important;
    color: black;
    font-weight: 700; }
  
  .btn-warning:hover {
    background-color: #cf9902 !important;
    color: whitesmoke;
    transform: scale(1.1);
    transition: cubic-bezier(1.075, 1.82, 1.165, 1); }